*{
    box-sizing: border-box;
    margin: 0;
}

body {
    border: 6px solid black;
    color: #303030;
    font-size: 1rem;
    line-height: 1.6;
}
section{
    padding: 5em 2em;
}
.header img {
    width: 300px;
    object-fit: cover;
  }
.header {
    display: grid;
    grid-template-columns: 300px 1fr;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    padding-top: 100px;
    padding-bottom: 100px;  
  }
:focus {
    outline: 3px solid white;
    outline-offset: 3px;
}
/* Typography */

h1, 
h2,
h3 {
    line-height: 1.1;
    margin:0
}
h1 { font-size: 3rem;}
h2 { font-size: 2.25rem;}
h3 { font-size: 1.25rem;}

.section__title {
    margin-bottom: .25em;
}
/* Nav */
nav {
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 50px ;
    font-size: large;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white ;
}
.list-item a:hover {
    text-decoration: underline;
    color: darkcyan;
}
a {
    text-decoration: none;
    color: #000;
    font-weight: 700;
}
nav ul li{
    display: inline-block;
    margin-right: 2em;
    font-size: larger;
}
.button {
    letter-spacing: 0;
    cursor: pointer;
    line-height: 45px;
    text-transform: uppercase;
    transition-duration: 2s;
}
.button:hover {
    letter-spacing: 1rem;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    color: darkcyan;
} 

/* Intro section */

.aboutmemain {
    background-image: url(/Assets/pexels-photo-1229861.jpeg);
    background-size: cover;
    color: #fff;
    text-align: center;
}
.section__title--about-me {
    padding-top: 5em;
    color: white;
    /* position: relative; */
}

.section__title--about-me::after {
    content: "";
    display: block;
    width: 7em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: white;
    opacity: 0.25;
}


.aboutme {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}
.about-me {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 10vw;
    gap: 2em;

    
  }
.btn {
    display: inline-block;
    padding:.5em 1.5em;
    background: white;
    text-decoration: none;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.3s linear;
}

.btn:hover {
    transform: scale(1.1);
}

/* Work */
.my-work {
    background-color: black ;
    color: white;
    text-align: center;
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.portfolio__item {
    overflow: hidden;
}
.portfolio__img {
transition: 
  transform 750ms cubic-bezier(.5,0,.5,1);
  opacity: 250ms linear;
}

.portfolio__img:hover {
    transform: scale(1.2);
    opacity: .75;
}

.email-button {
    padding-top: 1.5em;
  }
  
  .email {
    border: 2px solid #697082;
    font-weight: bold;
    border-radius: 4px;
    color: #697082;
    width: 200px;
    height: 65px;
    font-size: 18px;
    text-align: center;
  }
  
  .email:hover {
    font-size: 0;
  }
  .email:hover:after {
    transition: all 0.5s;
    content: attr(data-hover);
    font-size: 12px;
    border-radius: 24%;
  }
  
  .contact {
    text-align: center;
    margin-top: 50px;
  }
  
  .contact-button {
    margin-top: 20px;
  }
  hr {
    margin-top: 20px;
  }
  
  footer p {
    text-align: center;
    padding: 50px;
  }


  @media (max-width: 576px) {
    .header {
      grid-template-columns: 1fr;
    }
    .header img{
      width: 100%;
    }
    nav li{
        margin-right: 1em;
    }
    nav a {
        font-size: 14px;
    }
    .about-me .aboutme p {
        margin-bottom: 50px;
    }
}

 @media (max-width: 800px) {
    .about-me {
      display: flex;
      flex-direction: column;
      max-width: 1000px;
      margin-left: auto;
      margin-right: auto;
    }
    .about-me .aboutme p {
        margin-bottom: 50px;
    }
 }